@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.btn-primary{
    padding: 16px;
    border:none;
    border-radius: 5px;
    background: #FF5959;
    font-size: 20px;
    font-weight: 700;
    color:#fff;
}

section{
    margin-top: 130px;
}
main{
    width: 1128px;
    margin: 0 auto;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
    color: #121212;
    margin-bottom: 20px;
    text-align: center;

}
.section-description{
    color: #707070;
    font-size: 18px;
    line-height: 28px; 
    width: 600px;
    margin-bottom: 50px;
    margin: 0 auto;
}
/* Header Style */
.header{
    background-image: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%), url('/images/donation2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content{
    text-align: center;
}
.header-title{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
.header-description{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 30px;
}

/* donate today section style */

.donate-today{
    text-align: center;
}

.donate-card-container{
    display: flex;
    gap:22px;
    justify-content: center;
    margin: 50px 0;
}
.donate-card{
    width: 135px;
    height: 125px;
    border-radius: 5px;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    border: 2px solid transparent;
}
.donate-card:hover,.active{
    border-radius: 5px;
    border: 2px solid #FF5959;
    background: #FEE;
}
.amount{
    text-decoration: none;
    color: #B3B3B3;
    font-size: 18px;
   
}
.donate-underline{
    background-color: #DADADA;
    width: 750px;
    margin: 10px auto 30px;
}


/* donate-plan-section */
.donate-plan-card-container{
    margin-top: 50px;
    display: flex;
    gap:24px;
}
.donate-plan-card{
    border-radius: 5px;
    background: #FFF4D6;
    padding: 55px 25px;
}
.donate-plan-card-container .active{
    background: rgba(79, 157, 166, 0.10);
    border:none;

}
.donate-plan-card:hover{
    background: rgba(255, 89, 89, 0.10);

}
.card-title{
    font-size: 24px;
    font-weight: 700;
    margin: 30px 0 20px;
}
.card-description{
    color: #707070;;
}

/* contribute section  */
.contribute-event{
    display: flex;
    gap:80px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.contribute-details{
    max-width: 50%;
}
.contribute-details .section-title{
    text-align: left;
}
.contribute-details .section-description{
    width: auto;
    margin-top: 20px;
}
.contribute-details .btn-primary{
    margin-top: 30px;
    padding: 16px 12px;
}
.contribute-banner{
    max-width: 50%;
    height: 450px;
   

}
.banner-image{
    width: 100%;
    height: 100%;
  
}


.subscribe-box{
    width: 800px;
    height: 200px;
    background-color: #FFF4D6;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-form{
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    width: 323px;
    height: 55px;
}
.subscribe-form input, .subscribe-form input:focus{
    border: 0;
    background-color: transparent;
}

footer{
    margin-top: 130px;
    background-color: #0B0D17;
    height: 175px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-title{
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 36px;
    font-weight: 700;
}
.footer-subtitle{
    color: #D9DBE1;
    font-size: 14px;
    margin-top: 24px;
    text-align: center;
}